/* width and style in 600px and above */
@media only screen and (min-width: 600px) {
  .write-feed-here {
    font-size: 14px;
    box-sizing: 141px;
    min-height: 100px;
    padding: 0px;
    height: 100%;
    font-family: Montserrat;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(31, 42, 85, 0.7);
    font-weight: 500;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    resize: none;
    border: none;
    outline: none;
  }
  .write-feed-here:hover {
    border: none;
    outline: none;
  }
  .post-container {
    width: 500px;
    min-height: 100px;
    margin: auto;
    margin-top: -90px;
    margin-bottom: 34px;
    border-radius: 12px;
    padding: 35px 16px 70px 16px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #e0e7f5;
    background-color: #ffffff;
  }

  .post-container:hover {
    box-shadow: 0px 0px 2px 1px var(--pinkish-grey);
    outline: none;
  }

  .post-textarea {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    min-height: 141px;
    height: 100%;
    border-radius: 12px;
    font-size: 16px;
    border: solid 1px #e0e7f5;
    font-family: Montserrat;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(31, 42, 85, 0.7);
    z-index: 10;
  }
  .feeds-post-button {
    float: right;
    margin: 20px 10px 0px auto;
    padding: 7px 12px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background-color: #2a69ee;
    cursor: pointer;
  }
}

/* mobile style */
/* width and style in 600px and below */
@media only screen and (max-width: 600px) {
  .write-feed-here {
    font-size: 14px;
    box-sizing: 141px;
    min-height: 100px;
    padding: 0px;
    height: 100%;
    font-family: Montserrat;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(31, 42, 85, 0.7);
    font-weight: 500;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    resize: none;
    border: none;
    outline: none;
  }
  .write-feed-here:hover {
    border: none;
    outline: none;
  }
  .post-container {
    width: 325px;
    min-height: 100px;
    margin: auto;
    margin-top: -90px;
    margin-bottom: 34px;
    border-radius: 12px;
    padding: 35px 16px 70px 16px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #e0e7f5;
    background-color: #ffffff;
  }

  .post-container:hover {
    box-shadow: 0px 0px 2px 1px var(--pinkish-grey);
    outline: none;
  }

  .post-textarea {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    min-height: 141px;
    height: 100%;
    border-radius: 12px;
    font-size: 16px;
    border: solid 1px #e0e7f5;
    font-family: Montserrat;
    line-height: 1.57;
    letter-spacing: normal;
    color: rgba(31, 42, 85, 0.7);
    z-index: 10;
  }
  .feeds-post-button {
    float: right;
    margin: 20px 10px 0px auto;
    padding: 7px 12px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    background-color: #2a69ee;
    cursor: pointer;
  }
}

/* emoji container */

.emoji-button,
.gif-button {
  float: left;
  margin: 20px 10px 0px auto;
  height: 16px;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  background-color: #2a69ee;
  cursor: pointer;
}
.emoji-button {
  margin-left: 10px;
}

.live-emoji {
  float: left;
  margin: 20px 10px 0px auto;
  height: 16px;
  padding: 7px 12px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  color: black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

#link {
  text-decoration: none;
}
