.incorrect-password {
  margin: 24px -32px 0 -32px;
  width: auto;
  font-family: Montserrat;
  font-size: 14px;
  padding: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.02px;
  text-align: center;
  color: #838383;
  background-color: #ffcece;
}

.account-exists {
  margin: 2px -32px 0 -32px;
  width: auto;
  font-family: Montserrat;
  font-size: 14px;
  padding: 25px 60px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.02px;
  text-align: center;
  color: #838383;
  background-color: #ffcece;
}
