@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
:root {
  --pinkish-grey: #c6c6c6;
  --greyish-brown: #454545;
  --ice-blue: #f9fcff;
  --turquoise: #0bc29f;
  --bright-sky-blue: #00b1ff;
  --dark-blue-grey: #1f2a55;
}
input:focus {
  outline: none;
}
input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 16px;
  background: transparent;
  box-sizing: border-box;
  font-family: Montserrat;
}

@media only screen and (min-width: 600px) {
  :root,
  body {
    /* background-color: ; */
    background-image: linear-gradient(
      to bottom,
      #2564ee,
      var(--bright-sky-blue)
    );
    height: 100vh !important;
  }
}

@media only screen and (max-width: 600px) {
  :root,
  body {
    background-image: linear-gradient(to bottom, #ffffff, #f1f4fa);
    height: 100vh !important;
  }
}
